{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>Joke List</title>
</head>
<body>
    <a href="/chat/"> BACK TO JOKES </a>
    
    <h3 align="center"> YO MAMA JOKES COUNT </h3>
    <table border="1" width="80%;" align="center">
        <thead>
            <td>Sl No</td>
            <td>User</td>
            <td>Dumb Jokes</td>
            <td>Stupid Jokes</td>
            <td>Fat Jokes</td>
        </thead>
        <tbody>
            {% for joke in jokes %}
            <tr>
                <td>{{ joke.SlNo }}</td>
                <td>{{ joke.User }}</td>
                <td>{{ joke.Dumb }}</td>
                <td>{{ joke.Fat }}</td>
                <td>{{ joke.Stupid }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</body>
</html>